/* M PLUS Rounded 1c フォント設定 */
.m-plus-rounded-1c-bold {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Adobe Fonts やローカルで読み込んだLithos Pro Blackフォントの指定 */
@font-face {
    font-family: "lithos-pro", sans-serif;
    src: url('path/to/LithosProBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* html と body の高さ設定 */
html, body {
    height: 100%; /* 高さを100%に設定 */
    margin: 0; /* マージンをゼロに設定 */
    padding: 0; /* パディングもゼロ */
}

/* ヘッダー */
header {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-family: "lithos-pro", sans-serif;
    font-size: 1.7rem;
    margin: 0;
}

/* bodyのセンター寄せ */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* 背景画像の配置 */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/game.png');
    background-size: contain; /* 画像のサイズを縮小してウィンドウ内に収める */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像が繰り返さないように設定 */
    z-index: 1; /* 背景を他のコンテンツの後ろに配置 */
}

/* モバイルサイズの場合（768px 以下） */
@media (max-width: 932px) {
    .background-image {
        background-size: contain; /* ページ幅に合わせて画像を調整 */
        width: 100%;
        background-position: center; /* 画像を中央に配置 */
    }
}

/* ゲームページのコンテンツ */
.text-container {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2; /* ゲームコンテンツを前面に表示 */
}

/* カウントダウンタイマー */
#timer {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;  /* 長く広げる */
    height: 20px; /* 細くする */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #eee;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

#progressBar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d4bff0;
    border-radius: 25px;
    z-index: 1;
}

#timerText {
    position: relative;
    font-size: 3rem; /* フォントサイズを大きく */
    font-family: "lithos-pro", sans-serif; /* フォント変更 */
    font-weight: 700;
    color: white;
    z-index: 2;
}

/* TOPに戻るボタン */
#backToTopBtn {
    background-color: #e3e3e3;
    color: #333333;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    z-index: 3;
    transform-origin: center; /* 拡大の基準を中央に設定 */
}

/* TOPに戻るボタンにカーソルを合わせた際のスタイル */
#backToTopBtn:hover {
    background-color: #d4bff0; /* 色変更 */
    transform: scale(1.05); /* ボタン拡大 */
}

/* フッター */
.footer {
    background: #333333;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.footer small {
    font-size: 0.8rem;
    display: block;
    margin-top: 10px;
}
