/* フォント設定 */
@font-face {
    font-family: "lithos-pro", sans-serif;
    src: url('path/to/LithosProBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* ベーススタイル */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #4c4c4c;
    background-image: url('../images/top.png');
    background-size: 470px auto;
    background-position: center 49%;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* 全般 */
h1 {
    text-align: center;
    font-family: "lithos-pro", sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0;
    padding: 30px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #e3e3e3;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "lithos-pro", sans-serif;
}

button:hover {
    background-color: #ffe9c9;
}

/* トップページ */
.course-description-container {
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 20px;
    max-width: 380px;
    margin: 25vh auto 0 auto;
}

.course-description {
    font-family: "lithos-pro", sans-serif;
    background-color: #ffffff;
    color: #333333;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: inline-block;
}

.course-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: "lithos-pro", sans-serif;
    box-sizing: border-box;
    margin-top: -10px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.course-buttons p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    width: 100%;
}

/* ゲームページ */
#game-page {
    display: none;
    background-image: url('../images/game.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 15%;
    background-color: #4c4c4c;
}

#game-page .timer,
#game-page #time-left,
#game-page #current-word,
#game-page #word-input {
    margin-top: 20px;
}

#game-page .back-button-container {
    margin-top: 110px;
}

/* ゲームタイマー */
.timer {
    height: 20px;
    width: 90%;
    background-color: #dcd0f4;
    border-radius: 10px;
    position: relative;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.timer-bar {
    height: 100%;
    background-color: #a689d9;
    width: 100%;
    border-radius: 0;
}

#time-left {
    font-size: 3rem;
    font-weight: bold;
    color: #a689d9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#current-word {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
    margin: 20px 0;
}

/* 入力フォーム */
#word-input {
    width: 40%;
    height: 40px;
    font-size: 24px;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    border: 2px solid #a689d9;
    border-radius: 10px;
    outline: none;
}

#word-input:focus {
    border-color: #a689d9;
    outline: none;
}

#word-input::placeholder {
    text-align: center;
    color: #a689d9;
    opacity: 0.8;
}

/* ゲームクリアページ */
#clear-page {
    display: none;
    color: #ffffff;
    text-align: center;
    position: relative;
    background-image: url('../images/clear.png');
    background-size: contain;
    background-position: center 20%;
    background-repeat: no-repeat;
}

#clear-page h1 {
    font-size: 1.8rem;
    color: rgb(255, 123, 0);
    margin-top: 10px;
}

#clear-page p {
    font-size: 1.7rem; /* 文字サイズを大きく修正 */
    font-family: "lithos-pro", sans-serif;
    font-weight: bold;
    color: #333333; /* 文字カラーを変更 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* 文字の影を追加 */
    margin-top: 30px;
    margin-bottom: 50px;
}

#clear-page p span#final-score {
    margin-left: 0.5rem; /* `your score`とスコアの間に少し空白を追加 */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 123, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* スコアの文字に影を追加 */
}

#clear-page #final-score {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 123, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* スコアの文字に影を追加 */
}

#clear-page #random-message {
    font-size: 1.1rem;
    font-family: 'NotoSansJP-SemiBold', sans-serif;
    color: #333333;
    margin: 10px 0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-shadow: none; /* 文字の影を消す */
}

#clear-page .back-button-container {
    margin-top: 80px;
}

#clear-page .message-box {
    padding: 0px 10px;
    border-radius: 8px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin: 40px auto;
}

/* 戻るボタン */
.back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.back-button-container.duo-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.back-button {
    background-color: #e3e3e3;
    color: #333333;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.back-button:hover {
    background-color: #d4bff0;
    transform: scale(1.05);
}

/* フッター */
.footer {
    background: #333333;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 20px;
}

.footer small {
    font-size: 0.8rem;
    display: block;
}

/* メディアクエリ */
@media screen and (max-width: 932px) {
    #clear-page {
        background-position: center 15%;
        background-size: 95%;
    }

    #clear-page h1 {
        margin-top: -55px;
    }

    #clear-page p {
        margin-top: 95px;
    }
}

/* モニター全画面で画像サイズを@media screen and (max-width: 932px)と同じにする */
@media screen and (min-width: 1980px) {
    /* ゲームページ */
    #game-page {
        background-position: center 15% !important;
        background-size: 95% !important;
    }

    /* クリアページ */
    #clear-page {
        background-position: center 15% !important;
        background-size: 95% !important;
    }

    #clear-page h1 {
        margin-top: -55px !important;
    }

    #clear-page p {
        margin-top: 95px !important;
    }
}
